<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/categories"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveProfile()">Enregistrer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="user-content">
  <ion-row>
    <ion-col class="ion-no-padding" (click)="takePicture()">
      <app-image-shell
        class="user-image add-overlay"
        [display]="'cover'"
        animation="spinner"
        [src]="avatar ? avatar: './assets/sample-images/avatar.png'"
        [alt]="'item image'"
      >
        <app-aspect-ratio [ratio]="{w:1, h:1}"> </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
  </ion-row>

  <ion-row class="user-details">
    <ion-col class="ion-no-padding details-wrapper">
      <form [formGroup]="profileForm">
        <ion-list class="profile-form ion-text-start" lines="none">
          <ion-item>
            <ion-input placeholder="Prénom" color="medium" formControlName="firstName" style="color:black;"></ion-input> <ion-icon name="create-outline"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Nom" color="medium" formControlName="lastName" style="color:black;"></ion-input>
          </ion-item>

          <ion-list-header>
            <ion-label>À propos de vous</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-textarea
              rows="4"
              placeholder="Écrivez nous quelque chose à propos de vous..."
              formControlName="about"
              syle="color:black;"
            ></ion-textarea>
          </ion-item>

        </ion-list>
      </form>
    </ion-col>
  </ion-row>

  <ion-row class="user-preferences-wrapper">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Suivez votre impact !</ion-card-subtitle>
        <ion-card-title>Mes Projets</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Découvrir vos projets et leurs impacts sur la biodiversité.
      </ion-card-content>
      <ion-button
        style="color: white"
        expand="block"
        [routerLink]="['/app/user/friends']"
      >
        Voir
      </ion-button>
    </ion-card>
    <ion-col size="12">
      <ion-button
        class="sign-out-btn"
        expand="block"
        fill="outline"
        color="bright-blue"
        (click)="signOut()"
        >Se déconnecter</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
