
.top {
    background-color: rgb(62, 139, 202);
}


.avatar {
    width:120px;
    height:120px;
    margin-left:10px;   
 }

.titre { 
  width : 30px;
  color:white; 
}

.element1 {
    display:inline-block;
    width : 10px;
}

.element2 {
    display : inline-block;
    width : 90px;
    margin-left: -60px;
    margin-right: 20px;
}


 