<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button>Retour</ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
 
 
  <ion-row class="top"> 
 <ion-col class="element1">
  <ion-avatar class="avatar" size="4"><img src="http://photos.wikimapia.org/p/00/01/98/10/86_big.jpg"></ion-avatar>
 </ion-col>

  <ion-col class="element2">
    <h3 style="color:white;">Prison de Nivelles</h3>
    <h5 style="color:white;">Implémentation Ruche Kenyanne</h5>
  </ion-col>
  </ion-row>


<ion-col>
  <span>Contributeurs : </span>
  <span>7</span>
</ion-col>
<ion-col>
  <span>Montant récolté :</span>
  <span>50€ </span>
</ion-col>


  <ion-col>
    <h4>Impact social et éducatif</h4>
    <p>
      Les savons et autres produits sont emballés par la prison de Nivelles.
      La ruche possède une vitre pour observer la colonie sans déranger la ruche.															
      2 à 4 kg de miel par an sont offert par la ruche.
    </p>
  </ion-col>
  <ion-col>
    <h4>Impact Environnemental</h4>
    <p>
Le cycle des produits est entièrement local.		
La cire et la propolis sont des déchets de la ruche et ceux-ci sont utilisés directement dans la fabrication des produits.															

    </p>
  </ion-col>
  <ion-col>
    <h4>Impact sur la biodiversité locale</h4>
    <p>
      Le lieu d'implémentation de la ruche est étudié pour éviter la surpopullation des abeilles.
      Respect du cycle de l'abeille et minimisation des intéractions avec celle-ci.															
      La ruche Kenyanne adopte un modèle plus proche de la nature et respectueux de l'abeille.															
        
    </p>
  </ion-col>


<ion-button>
  Faire un don
</ion-button>
  
</ion-content>
