<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style>
</ion-header>

<ion-content>
  <!-- MAIN HEADER -->
  <main-slider [data]="data"></main-slider>

  <!-- UPCOMING & PAST MATCHES -->
  <ion-list>
    <ion-list-header mode="ios">
      <ion-label> Ce qui a déjà été réalisé </ion-label>
    </ion-list-header>

    <!-- <ion-card class="ion-padding" mode="ios"> -->
    <ion-grid class="states ion-no-padding">
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-label>
            <h2 style="font-weight: bold; color: var(--ion-color-secondary)">
              {{totalContributors }}
            </h2>
            <p>Nombre de contribututions</p>
          </ion-label>
        </ion-col>

        <ion-col>
          <ion-label>
            <h2 style="font-weight: bold; color: var(--ion-color-secondary)">
              {{totalAmount}} €
            </h2>
            <p>Montant total investi</p>
          </ion-label>
        </ion-col>

        <ion-col>
          <ion-label>
            <h2 style="font-weight: bold; color: var(--ion-color-secondary)">
              {{totalAmount * 44}}
            </h2>
            <p>Abeilles adoptées</p>
          </ion-label>
        </ion-col>
        <!-- <ion-col class="ion-text-end">
            <ion-label>
              <h2 style="font-weight: bold; color: var(--ion-color-secondary)">
                {{totalAmount * 44}}
              </h2>
            </ion-label>
          </ion-col> -->
      </ion-row>
    </ion-grid>
    <!-- </ion-card> -->

    <ion-list-header mode="ios">
      <ion-label> Les projets d'implentation</ion-label>
    </ion-list-header>

    <ion-slides pager="true">
      <ion-slide *ngFor="let project of projects">
        <ion-card style="background-color: white; width: 100%" mode="ios">
          <ion-card-header>
            <ion-card-subtitle>{{project?.subtitle}}</ion-card-subtitle>
            <ion-card-title>{{project.title}}</ion-card-title>
          </ion-card-header>
          <img [src]="project?.imageUrl" />
          <ion-card-content> {{project?.description}} </ion-card-content>
          <ion-button
            expand="block"
            class="ion-margin-horizontal ion-margin-bottom"
            style="color: white"
            (click)="openProject(project)"
          >
            Découvrir ce projet
          </ion-button>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-card style="background-color: white" mode="ios">
      <ion-card-header>
        <ion-card-subtitle>Suivez votre impact !</ion-card-subtitle>
        <ion-card-title>Mes Projets</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Découvrir vos projets et leurs vertus sur la biodiversité.
      </ion-card-content>
      <ion-button
        style="color: white"
        expand="block"
        class="ion-margin-horizontal ion-margin-bottom"
        [routerLink]="['/app/user/friends']"
      >
        Voir
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>