<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-content">
  <!-- Input Item Start -->
  <ion-row class="ion-justify-content-center item-heading">
    <ion-col size="10">
      <h2>Créer un compte</h2>
    </ion-col>
  </ion-row>
  <!-- Heading End-->

  <form [formGroup]="signupForm" (ngSubmit)="signUpWithEmail()">
    <!-- Input Item Start -->
    <ion-row class="ion-justify-content-center item-input">
      <ion-col size="10">
        <p>Pseudo</p>
        <ion-input
          type="text"
          formControlName="nickname"
          clearInput
          autocapitalize="off"
          inputmode="text"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center item-input">
      <ion-col size="10">
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.nickname">
            <div
              class="error-message"
              *ngIf="signupForm.get('nickname').hasError(validation.type) && (signupForm.get('nickname').dirty || signupForm.get('nickname').touched)"
            >
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
            <div *ngIf="!isAvailable" class="error-message">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>pseudo déjà existant</span>
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <!-- Input Item End -->

    <!-- Input Item Start -->
    <ion-row class="ion-justify-content-center item-input">
      <ion-col size="10">
        <p>Email</p>
        <ion-input
          type="email"
          formControlName="email"
          clearInput
          autocapitalize="off"
          inputmode="email"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center item-input">
      <ion-col size="10">
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div
              class="error-message"
              *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)"
            >
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <!-- Input Item End -->
    <div formGroupName="matching_passwords">
      <!-- Input Item Start -->
      <ion-row class="ion-justify-content-center item-input">
        <ion-col size="10">
          <p>Mot de passe</p>
          <app-show-hide-password>
            <ion-input type="password" formControlName="password"></ion-input>
          </app-show-hide-password>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center item-input">
        <ion-col size="10">
          <div class="error-container">
            <ng-container
              *ngFor="let validation of validation_messages.password"
            >
              <div
                class="error-message"
                *ngIf="signupForm.get('matching_passwords').get('password').hasError(validation.type) && (signupForm.get('matching_passwords').get('password').dirty || signupForm.get('matching_passwords').get('password').touched)"
              >
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <!-- Input Item End -->

      <!-- Input Item Start -->
      <ion-row class="ion-justify-content-center item-input">
        <ion-col size="10">
          <p>Réintroduire mot de passe</p>
          <app-show-hide-password>
            <ion-input
              type="password"
              formControlName="confirm_password"
            ></ion-input>
          </app-show-hide-password>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center item-input">
        <ion-col size="10">
          <div class="error-container">
            <ng-container
              *ngFor="let validation of validation_messages.confirm_password"
            >
              <div
                class="error-message"
                *ngIf="signupForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (signupForm.get('matching_passwords').get('confirm_password').dirty || signupForm.get('matching_passwords').get('confirm_password').touched)"
              >
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <!-- Input Item End -->
    </div>

    <!-- SignUp Button Start -->

    <ion-row class="ion-justify-content-center item-button">
      <ion-col size="10" class="ion-align-self-center ion-text-end">
        <ion-button
          type="submit"
          [disabled]="!signupForm.valid"
          shape="round"
          color="secondary"
          expand="block"
          >Créer</ion-button
        >

        <div class="error-container" *ngIf="submitError">
          <div class="error-message">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ submitError }}</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!-- SignUp Button End -->
  </form>

  <!-- Input Item Start -->
  <ion-row class="ion-justify-content-center item-heading">
    <ion-col size="10">
      <h2>Réseaux sociaux</h2>
    </ion-col>
  </ion-row>
  <!-- Heading End-->
  <!-- Social buttons start -->
  <ion-row class="ion-justify-content-center item-social-buttons">
    <ion-col size="2.4" class="ion-align-self-center ion-text-center">
      <ion-button color="twitter" (click)="doTwitterSignup()">
        <ion-icon slot="icon-only" name="logo-twitter"> </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2.4" class="ion-align-self-center ion-text-center">
      <ion-button color="google" (click)="doGoogleSignup()">
        <ion-icon slot="icon-only" name="logo-google"> </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2.4" class="ion-align-self-center ion-text-center">
      <ion-button color="facebook" (click)="doFacebookSignup()">
        <ion-icon slot="icon-only" name="logo-facebook"> </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2.4" class="ion-align-self-center ion-text-center">
      <ion-button color="dark" (click)="doAppleSignup()">
        <ion-icon slot="icon-only" name="logo-apple"> </ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-row class="item-footer">
    <ion-col class="ion-text-center">
      <p>
        Vous avez déjà un compte ?
        <span [routerLink]="['/firebase/auth/sign-in']">Me connecter</span>
      </p>
    </ion-col>
  </ion-row>
</ion-footer>
