<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Articles</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row class="header-details" *ngIf="posts?.length">
    <ion-col>
      <h2>Découvrez nos ({{ count }}) derniers articles</h2>
      <!-- <p>{{project?.socialEducationalImpact}}</p> -->
    </ion-col>
  </ion-row>

  <ion-list lines="none">
    <ion-item
      *ngFor="let post of posts"
      class="post"
      detail
      [routerLink]="['/', 'posts', post.id]"
    >
      <img slot="start" [src]="post.media_url" />
      <ion-label>
        <ion-badge>{{ post.date_gmt | date }}</ion-badge>
        <h2 [innerHTML]="post.title.rendered"></h2>

        <p [innerHTML]="post.excerpt.rendered"></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
  </ion-infinite-scroll>
</ion-content>