@import "theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);

  --page-categories-gutter: calc(var(--page-margin) / 4);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.categories-list {
  --ion-grid-column-padding: var(--page-categories-gutter);

  padding: calc(var(--page-categories-gutter) * 3);
  height: 100%;
  align-content: flex-start;
  overflow: scroll;

  @include hide-scrollbars();

  .category-item {
    .category-anchor {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .category-title {
        margin: auto;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: var(--ion-color-lightest);
        background-color: var(--page-category-background);
        border-radius: var(--app-fair-radius);
      }
    }
  }

  .travel-category {
    --page-category-background: #00afff;
    --page-category-background-rgb: 0, 175, 255;
  }

  .fashion-category {
    --page-category-background: #cb328f;
    --page-category-background-rgb: 203, 50, 143;
  }

  .food-category {
    --page-category-background: #ebbb00;
    --page-category-background-rgb: 235, 187, 0;
  }

  .deals-category {
    --page-category-background: #70df70;
    --page-category-background-rgb: 112, 223, 112;
  }

  .real-estate-category {
    --page-category-background: #d9453a;
    --page-category-background-rgb: 217, 69, 58;
  }
}

ion-list {
  background: transparent;

  ion-list-header {
    background: var(--ion-color-secondary);
    color: var(--ion-color-primary);
    ion-label {
      margin-top: 6px;
    }
  }
  .heading-list-title {
    background: #fff;
  }
  margin-bottom: 100px;

  .disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.points {
  background: #f9f9f9;
  margin: 12px 16px;
  border-radius: 16px;
  padding: 12px;
  p {
    font-size: 1.2em;
    margin-bottom: 12px;
  }

  h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 12px;
    background: var(--ion-color-secondary);
    display: inline-block;
    padding: 10px 16px;
    border-radius: 12px;
    color: var(--ion-color-dark) !important;
  }
}

.partner {
  border: 1px dotted gray;
  // background: #fafafa;
  margin: 12px 16px;
  border-radius: 16px;
  padding: 12px;
}

ion-thumbnail {
  border-radius: 8px;
  overflow: hidden;
}
