<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contact-card-content">
  <ion-row class="user-details-wrapper">
    <ion-col size="4">
      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell
          class="user-avatar"
          animation="spinner"
          [src]="project?.imageUrl"
          [alt]="'project image'"
        ></app-image-shell>
      </app-aspect-ratio>
    </ion-col>
    <ion-col class="user-info-wrapper" size="8">
      <h3 class="user-name">{{project?.title}}</h3>
      <h5 class="user-handle">{{project?.subtitle}}</h5>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">
      <span class="user-stat-value">{{donations?.length}}</span>
      <span class="user-stat-name">Contributions</span>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">
      <span class="user-stat-value">{{counter}}€</span>
      <span class="user-stat-name">récoltés</span>
    </ion-col>
    <ion-col size="12">
      <p class="user-bio">{{project?.description}}</p>
    </ion-col>
  </ion-row>
  <ion-row class="user-preferences-wrapper">
    <ion-col size="12">
      <h4 class="preference-name">Impact social et éducatif</h4>
      <p class="preference-value">{{project?.socialEducationalImpact}}</p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">Impact Environnemental</h4>
      <p class="preference-value">{{project?.environmentalImpact}}</p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">Impact sur la biodiversité locale</h4>
      <p class="preference-value">{{project?.biodiversityImpact}}</p>
    </ion-col>
  </ion-row>

  <ion-button style="color: white" (click)="donate(project)">
    Adopter des abeilles
  </ion-button>
</ion-content>