ion-list {
  background: transparent;
  ion-list-header {
    color: var(--ion-color-primary);
    ion-label {
      margin-top: 6px;
    }
  }
  margin-bottom: 100px;
}

ion-slide {
  margin-bottom: 20px;
}

:host ::ng-deep .swiper-pagination {
  .swiper-pagination-bullet {
    width: 16px;
    height: 8px;
    border-radius: 4px;
  }

  .swiper-pagination-bullet-active {
    background: var(--ion-color-primary);
  }
}

